* {
    background-color: rgb(241, 241, 188);
}

h1 {
    text-align: center;
    background: rgb(161, 17, 17);
    color: rgb(241, 241, 188);
}

h2 {
    text-align: left;
    background-color: green;
    color: white;
}

ul {
    color: rgb(161, 17, 17);
}

.id1 ol {
    color: rgb(161, 17, 17);
}

.id1 ol li {
    color: rgb(161, 17, 17);
}

h3 {
    background-color: green;
    color: white;
}

a {
    color: purple;
}

h4 {
    background-color: green;
    color: white;
}

#id p {
    color: rgb(114, 112, 112);
}

table tr td {
    background: rgb(224, 217, 217);
}

table tr {
    background-color: black;
}

#id1 p {
    color: rgb(114, 112, 112);
}

form input {
    background: white;
}

form textarea {
    background-color: white;
}

button {
    background-color: rgb(233, 221, 221);
}